.home-wrapper {
  min-height: 1380px;
  background-color: #161616;
  padding: 0 24px 24px 24px;

  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

  box-sizing: border-box;
  position: relative;

  overflow: hidden;
}

.home-categories-wrapper {
  padding: 0;
  margin: 0;

  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  position: relative;
}

.home-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  box-sizing: border-box;
  position: relative;

  width: 100vw;
  height: 925px;

  color: white;
  opacity: 1;
}

.home-category::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  opacity: 0.5;
  background: url("../../images/equipment.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  transition: opacity 0.2s linear;
}

.home-category-title {
  color: #fff;
  text-align: center;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 0.5px;

  position: relative;
  box-sizing: border-box;
}

.home-category-title:after {
  content: "";
  width: 100%;
  height: 2px;

  left: 0;
  bottom: -5px;

  background-color: white;
  transform: scaleX(0);

  position: absolute;

  transition: transform 0.2s linear;
}

.home-category:hover .home-category-title:after {
  transform: scaleX(1.05);
}

.home-category:hover:before {
  opacity: 0.6;
}

.home-category-switch {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  height: 925px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-category-switch button {
  background: none;
  border: none;
  height: 100%;
  width: 250px;
}

.home-category-switch button svg {
  width: 50px;
  height: auto;
  opacity: 0.6;

  transition: opacity 0.2s linear;
}

.home-category-switch button svg path {
  fill: white;
}

.home-categories-wrapper:hover + .home-category-switch button svg {
  opacity: 1;
}
