.navbar-wrapper {
  width: 100%;
  height: 100px;

  background: #161616;
  padding: 0 50px 0 50px;

  color: #f3f0ed;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;

  cursor: pointer;
}

.navbar-logo img {
  width: auto;
  height: 56px;
  transition: filter 0.1s linear;
}

.navbar-logo:hover img {
  filter: drop-shadow(0px 0px 29px rgba(255, 255, 255, 0.4));
}

.navbar-items-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: right 0.4s ease;
}

.navbar-item p {
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.5px;
  cursor: pointer;
  text-shadow: 0px 0px 29px rgba(255, 255, 255, 0);
  transition: text-shadow 0.1s linear;
}

.navbar-item:hover p {
  text-shadow: 0px 0px 29px rgba(255, 255, 255, 1);
}

.navbar-buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 271px;
  gap: 27px;
}
.navbar-button {
  width: 36px;
  height: 40px;
  cursor: pointer;
  transition: filter 0.1s linear;
}

.navbar-button:hover svg {
  filter: drop-shadow(0px 0px 29px #fff);
}

.navmenu {
  display: none;
}

.nav-menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  position: relative;
}

.nav-menu-icon-bar {
  width: 35px;
  height: 2px;
  background: white;
  position: absolute;
}

.nav-menu-icon-bar:nth-child(1) {
  top: 6px;
}

.nav-menu-icon-bar:nth-child(3) {
  bottom: 6px;
}

.menu-open .nav-menu-icon-bar:nth-child(1) {
  animation: barMoveToMiddleFromTop 0.2s ease forwards,
    rotatePositive 0.2s ease 0.4s forwards;
  transition: top, rotate 0.2s ease;
}

.menu-open .nav-menu-icon-bar:nth-child(3) {
  animation: barMoveToMiddleFromBottom 0.2s ease forwards,
    rotateNegative 0.2s ease 0.4s forwards;
  transition: top, rotate 0.2s ease;
}

.menu-open .nav-menu-icon-bar:nth-child(2) {
  animation: fadeOut 0.2s ease 0.2s forwards;
}

.menu-closed .nav-menu-icon-bar:nth-child(1) {
  animation: barMoveToTop 0.2s ease 0.4s forwards,
    rotateBackPos 0.2s ease 0.6s forwards;
  transition: bottom 0.2s ease, rotate 0.2s ease;
}

.menu-closed .nav-menu-icon-bar:nth-child(3) {
  animation: barMoveToBottom 0.2s ease 0.4s forwards,
    rotateBackNeg 0.2s ease 0.6s forwards;
  transition: bottom 0.2s ease, rotate 0.2s ease;
}

.menu-closed .nav-menu-icon-bar:nth-child(2) {
  animation: fadeIn 0.2s ease 0.2s forwards;
}

@keyframes barMoveToMiddleFromTop {
  0% {
    top: 6px;
  }
  100% {
    top: 19px;
  }
}

@keyframes barMoveToTop {
  0% {
    top: 6px;
  }
  100% {
    top: 6px;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes barMoveToMiddleFromBottom {
  0% {
    bottom: 6px;
  }
  100% {
    bottom: 19px;
  }
}

@keyframes barMoveToBottom {
  0% {
    bottom: 19px;
  }
  100% {
    bottom: 6px;
  }
}

@keyframes rotatePositive {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 45deg;
  }
}

@keyframes rotateNegativeFromPositive {
  0% {
    rotate: 45deg;
  }
  100% {
    rotate: 0deg;
  }
}

@keyframes rotateNegative {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -45deg;
  }
}

@keyframes rotateBackNeg {
  0% {
    rotate: -45deg;
  }
  100% {
    rotate: 0deg;
  }
}

@media screen and (width <= 1420px) {
  .navbar-logo,
  .navbar-buttons {
    z-index: 11;
  }

  .navbar-items-list {
    flex-direction: column;
    position: fixed;
    right: -100%;
    top: 0;
    background-color: #161616;
    height: 100vh;
    width: 100%;
    align-items: center;
  }

  .navbar-buttons {
    width: auto;
  }

  .navbar-button {
    display: none;
  }

  .navmenu {
    display: flex;
  }

  .navbar-wrapper {
    padding: 0 15px 0 15px;
  }
}

@media screen and (width <= 480px) {
  .navbar-items-list {
    width: 100%;
  }
}
