.navbar-wrapper {
  width: 100%;
  height: 100px;

  box-sizing: border-box;

  background: #161616;
  padding: 0 50px 0 50px;

  color: #f3f0ed;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70px;
  gap: 0;

  cursor: pointer;
}

.navbar-header {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline;
}

.second-header p {
  color: #f3f0ed;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.navbar-header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.navbar-header {
  animation-name: goToLeft;
  animation-duration: 0.2s;
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transform-origin: left;
}

.navbar-slogan {
  color: #f3f0ed;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.5px;

  animation: fade-up 1s linear forwards;
  animation-delay: 2s;
}

@keyframes goToLeft {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

.navbar-items-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar-item p {
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.5px;
  cursor: pointer;
  text-shadow: 0px 0px 29px rgba(255, 255, 255, 0);
  transition: text-shadow 0.1s linear;
}

.navbar-item:hover p {
  text-shadow: 0px 0px 29px rgba(255, 255, 255, 1);
}

.navbar-buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 271px;
  gap: 27px;
}
.navbar-button {
  width: 36px;
  height: 40px;
  cursor: pointer;
}

.navmenu {
  display: none;
}

.nav-menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav-menu-icon-bar {
  width: 35px;
  height: 2px;
  background: white;
}

@media screen and (width <= 1420px) {
  .navbar-items-list {
    display: none;
  }

  .navbar-buttons {
    width: auto;
  }

  .navbar-button {
    display: none;
  }

  .navmenu {
    display: flex;
  }
}

@media screen and (width <= 920px) {
  .navbar-wrapper {
    padding: 0 15px 0 15px;
  }
}
